html,
body {
  width: 300px;
  height: 600px;
  overflow-y: auto;
}

.button.small {
  font-size: 9px;
}

.button:not(:disabled):hover .default {
  display: none !important;
}

.button:not(:disabled):hover .hover {
  display: inline-block !important;
}

.button.w-half {
  width: 50%;
}

.content {
  padding: 0 10px;
}

.content {
  border-top: none;
  margin-top: 0;
}

.content ~ .content {
  border-top: 3px solid #3d3d3d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.content .title {
  margin-bottom: 5px;
}

.content .instruction {
  color: #ccc;
  font-style: italic;
  margin-top: 0;
}

.content .instruction.spacing {
  margin-top: 5px;
}

.content .setting:not(:first-child) {
  margin-top: 10px;
}

.content .setting .status {
  font-weight: bold;
}

.content .setting .default {
  display: inline-block;
}

.content .setting .hover {
  display: none;
}
