name: Create release

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install npm dependencies
        run: pnpm install --frozen-lockfile

      - name: Build and zip extension
        run: pnpm run build

      - name: Create new release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GH_TOKEN }}
          artifacts: 'build/*-prod.zip'
          allowUpdates: true
          omitBodyDuringUpdate: true
          updateOnlyUnreleased: true
